ADMIN_PASSWORD=change-this-password
ADMIN_SECRET=change-this-secret
ADMIN_COOKIE_NAME=gd_admin_session
ENABLE_GITHUB_SYNC=false
GITHUB_TOKEN=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=main
GITHUB_CONTENT_BASE_PATH=
